<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
	<!-- Variables -->
	<variable name="logDir" value="${environment:variable=RS7_LOG_DIR:whenEmpty=${basedir}/logs}" />
	<variable name="logName" value="rspectrum7" />
	<variable name="layout"
			  value="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

	<!-- Targets -->
	<targets>
		<!-- Consola: útil en Linux con systemd (journalctl) -->
		<target xsi:type="Console" name="console" layout="${layout}" />

		<!-- Archivo: rotación diaria + por tamaño, conservar 30 días -->
		<target xsi:type="File" name="file"
				fileName="${logDir}/${logName}-${shortdate}.log"
				archiveFileName="${logDir}/archive/${logName}-{#}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
				archiveAboveSize="10485760" 
		concurrentWrites="true"
		keepFileOpen="false"
		encoding="utf-8"
		layout="${layout}" />
	</targets>

	<!-- Reglas -->
	<rules>
		<!-- Todo a consola -->
		<logger name="*" minlevel="Info" writeTo="console" />
		<!-- Info+ a archivo (incluye Warn, Error, Fatal) -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>